.masonry-container{
  border: 25px solid lightGrey;
  padding: 2px;
}
.masonry{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}
.column{
  display: flex;
  flex-direction: column;
}
.tile {
  margin: 4px;
  width:200px;
  cursor: pointer;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: auto;
  width: 1px;
  height: 1px;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.animate{
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
} 